# Node / build
node_modules/
dist/
dist-ssr/

# Env files
.env
*.env
frontend/.env
backend/.env

# ignore utils folders
utils/
frontend/utils/
backend/utils/
**/utils/

# Editor
.vscode/
.idea/
.DS_Store
# keep the extensions.json file
!.vscode/extensions.json